requests==2.32.5
click==8.3.1
sentry-sdk==2.48.0
pip==24.3.1
tzdata==2025.3
pytz==2025.2
protobuf==6.33.2
pydantic==2.12.5
idna==3.11
certifi==2025.11.12
numpy==2.4.0
charset-normalizer==3.4.4
gitdb==4.0.12
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyarrow==21.0.0
pydantic_core==2.41.5
typing_extensions==4.15.0
packaging==25.0
GitPython==3.1.46
platformdirs==4.5.1
smmap==5.0.2
urllib3==2.6.2
typing-inspection==0.4.2
annotated-types==0.7.0
pandas==2.3.2
six==1.17.0
wandb==0.21.3
